:root {
    --main-purple: #635FC7;
    --main-purple-hover: #A8A4FF;
    --black: #000112;
    --v-dark-gray: #20212C;
    --d-gray: #2B2C37;
    --d-lines: #3E3F4E;
    --m-gray: #828FA3;
    --l-lines: #E4EBFA;
    --l-gray: #F4F7FD;
    --white: #FFFFFF;
    --red: #EA5555;
    --red-hover: #FF9898;
    --filter: rgba(0, 0, 0, 0.5);
}

*, *:before, *:after {
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
  
  html, body, ul, ol, li, figure, blockquote, dl, dd {
    margin: 0;
    padding: 0;
  }

body {
    min-height: 100vh;
    color: var(--main-purple);
    font-weight: bold;
    background-color: var(--main-purple-hover);
}

.content {
    display: flex;
    /* position: absolute; */
    /* width: 100%; */
    /* min-height: 100%; */
    max-width: 900px;
    max-height: 600px;
    margin: auto;
}

.hero {
    position: relative;
    flex: 1.1 1 0;
    background-image: url("../images/woods_background.jpg");
    background-size: cover;
    z-index: 1;
}

.hero-title {
    position: absolute;
    top: 20%;
    height: 8rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 5px;
    font-size: 2.5rem;
    text-shadow: 0 0 16px white;
    background: rgba(255,255,255,0.6);
}

.hero-title img {
    height: 40%;
}

.credit {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.credit, .credit a {
    color: white;
    font-size: .65rem;
}

.form-display {
    position: relative;
    flex: 2 1 0;
    background-color: var(--l-gray);
}

form {
    box-shadow: 0px 2px 3px lightgrey;
    padding: 1rem 2.5rem 1.8rem 2.5rem;
    position: relative;
    background-color: white;
}

.form-title {
    margin-bottom: 1.4rem;
}

.inputs-all {
    display: flex;
    flex-wrap: wrap;
    column-gap: 3rem;
    row-gap: 1rem;
    min-width: 33rem;
    max-width: 40rem;
}

input, label {
    display: block;
}

label {
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

input {
    width: 15rem;
    border: 1px solid var(--l-lines);
    height: 1.8rem;
    border-radius: 4px;
}

input:focus {
    outline: 1px solid var(--main-purple);
    box-shadow: 3px 3px 5px;
}

input:focus:invalid {
    outline: 1px solid red;
}

.input-block {
    display: inline-block;
}

.btn-submit {
    background-color: var(--main-purple);
    margin: 1.5rem 2.5rem;
    border-radius: 5px;
    font-size: .9rem;
    font-weight: bold;
    color: white;
    padding: 0.7rem 2.4rem;
    border: none;
    box-shadow: 1px 3px 5px var(--m-gray);
}
.btn-submit:hover {
    background: var(--main-purple-hover);
}
.btn-submit:active {
    box-shadow: none;
}

.login-instruction {
    color: var(--main-purple);
    margin-top: 0;
    padding-left: 2.5rem;
    font-size: .8rem;
}

.info {
    padding: 3rem 2.5rem 2rem 2.5rem;
    font-weight: bold;
}

.info p {
    margin: 0;
    line-height: 1.4;
}

.info p:last-of-type {
    margin-top: 1.2rem;
}

.word {
    font-style: italic;
}

 /* Style the container for inputs */
 .container {
    background-color: #f1f1f1;
    padding: 1.25rem;
  }
  
  /* The message box is shown when the user clicks on the password field */
  #message {
    display: none;
    background: var(--l-gray);
    padding: 0.5rem 2.5rem;
    position: absolute;
    transform: translate(35px, -295px);
    border-radius: 10px;
    box-shadow: -2px -2px 20px -5px;
    max-width: 80vw;
  }
  
  #message p {
    font-size: .9rem;
    margin: 0.5rem;
  }
  
  /* Add a custom color and a checkmark when the requirements are right */
  .valid {
    color: var(--main-purple);
  }
  
  .valid:before {
    position: relative;
    left: -0.5rem;
    content: "✔";
  }
  
  /* Add a red text color and an "x" when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -0.5rem;
    content: "❌";
  }

  @media screen and (max-width: 860px) {
    body {
        max-width: 100%;
    }

    .content {
        flex-direction: column;
    }

    .hero {
        flex: none;
        height: 20rem;
    }

    .credit {
        text-align: right;
        padding-right: 1rem;
    }

    .info {
        padding: 2rem 2rem 1rem 2rem;
        font-weight: bold;
    }

    .inputs-all {
        margin: 0 auto;
    }

    .btn-submit, .login-instruction {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    form {
        padding-left: 2rem;
        padding-right: 2rem;
    }
  }

  @media screen and (max-width: 600px) {
    .inputs-all {
        min-width: 15rem;
        justify-content: center;
    }

    .btn-submit {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-left: 0;
    }

    .login-instruction {
        text-align: center;
        padding: 0;
    }

    #message {
        transform: translate(35px, -365px);
    }
  }
